*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Container{
  width: 100%;
  min-height: 100vh;
}

.container{
  display: flex;
  min-height: 100vh;
}

.box1, .box2{
  flex: 1;
}

.box1 img{
  margin-bottom: 10rem;
  margin-top: 2rem;
}

.box1{
  padding-left:5rem ;

}

.box2{
  width: 730px;
  height: 806px;
  background-image: url(/images/Rectangle\ 9.png);
}

.man-img{
  margin-top: 3.25rem;
  position: absolute;
  right: 8rem;
  width: 600px;
  height: 703px;
  
}

.man-img img{
  width: 100%;
  height: 100%;
}


nav {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
  margin-top: 2rem;
}

nav li a{
  text-decoration: none;
  list-style: none;
  color: white;
  font-weight: 400;
  font-size: 16px;
}

nav li {
  text-decoration: none;
  list-style: none;
}

nav a:hover{
  text-decoration: underline;
  text-decoration-color: #8A2C0D;
}

.active{
  text-decoration: underline;
  text-decoration-color: #8A2C0D;
}

.text-box{
  width: 573px;
  height: 396px;
}

.text-box1{
  height: 240px;
  width: 500px;
}

.text-box1 h1{
  font-weight: 700;
  font-size: 48px;
  padding-right: 6rem;
}
span{
  color: orange;
}

.text-box2{
  height: 56px;
  width: 395px;
}

.text-box2 p{
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

button{
  border-radius: 12px;
  padding: 14px 24px;
  width: 270px;
  border: none;
  margin-top: 2rem;
  color: white;
  font-size: 16px;
  font-weight: 400;
  height: 52px;
  background: linear-gradient(90deg, #FF4C4C 0%, #FF8A4C 100%);
}


/* ===========Services styling ============= */
.servicebox{
  display: flex;
  background-color: #F9F9F9;
  gap: 3rem;
  padding: 3rem 5rem 7rem 5rem;
  width: 100%;
  height: 900px;
}

.servicebox h1{
  font-size: 18px;
  font-weight: 700;
  line-height: 21.78px;
}

.servicebox p{
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

.service{
  flex: 1;
  /* background-color: purple; */
  width: 600px;
}

.serviceframe{
  flex: 3;
  /* background-color: #FF4C4C; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.service img{
  width: 100%;
  height: 600px;
}

.servicetext{
  width: 351px;
  height: 140px;
  top: 84px;
  left: 130px;
  gap: 0.8rem;
  display: flex;
  flex-direction: column;
  margin-left: 6rem;
}

.servicetext h1{
  font-size: 32px;
  font-weight: 700;
  line-height: 34.82px;
}
.servicetext p{
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}


.framebox-1{
  display: flex;
  gap: 2rem;
}

.inbox1{
  display: flex;
  gap: 1rem;
}

.inbox1 img{
  width: 64px;
  height: 64px;
}

.framebox-2{
  display: flex;
  gap: 2rem;
}

.inbox2{
  display: flex;
  gap: 1rem;
}

.inbox2 img{
  width: 64px;
  height: 64px;
}

/* ===================How works styling ================= */
.works{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-inline: 5rem;
  background: linear-gradient(219.36deg, #C11717 0%, #FF8A4C 100%); background-color: ;
}

.works-text h1{
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 39.17px;
  color: #F9FAFB;
  margin-bottom: 0.9rem;
}

.works-text p{
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  color: #F9FAFB;
  width: 558px;
}

.works-plan{
  display: flex;
  gap: 2.5rem;
  margin-top: 2rem;
}

.box-plan{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-plan img{
  width: 128px;
  height: 128px;
  align-self: center;
}

.box-plan h1{
  font-size: 14px;
  font-weight: 600;
  line-height: 27px;
  color: white;
}

.box-plan p{
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  color: #FEECDC;
  text-align: center;
}

/* =================price section============== */



